<h1>New Place</h1>

<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "destination name" %>
    <%= form.text_field "destination name" %>
  </p>

  <p>
    <%= form.label "body" %>
    <%= form.text_field "body" %>
  </p>

  <p>
    <%= form.label "image" %>
    <%= form.text_field "image" %>
  </p>

  <p><%= form.submit %></p>
<% end %>